
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.navigation::before{
    content: "";
    background-color: rgb(31, 9, 7);
    height: 170px;
    top:0;
    position: absolute;
    width: 100%;
    opacity: 1;
    z-index: -1;
}
.navigation{
    align-items: center;
    justify-content: center;
}
.navli{
    align-items: center;
    justify-content: center;
}
.la{
    margin: 5px;
    font-size: .6rem;
    text-align: center;
}
.la:hover{
    font-size: .75rem;
}
.welcome h3{
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
}
.welcome p{
    font-size: 1rem;
    width: 70%
}
.welcome button{
    width:45%;
    height: 10%;
    font-size: .5 rem;
}
.service{
    flex-direction: column;
}

.welcome::before{
    content: "";
    position: absolute;
    top: 170px;
    left: 0px;
    background: none;
    background-image: linear-gradient(rgb(235, 160, 160), rgb(126, 251, 251) 10%, rgb(115, 247, 115) );
    opacity: .5;
    z-index: -1;
    /* background-size: contain; */
    height: 3200px;
    /* height: 100%; */
    width: 100%;
 }
 .box{
     width: 70%;
     height: auto;
     text-align: center;
     padding: 5px;
     align-items: center;
     justify-content: center;

 }
 .box img{
     padding-top: 0px;
 }
 .achieve{
    flex-wrap: wrap;
 }
 .our{
     font-size: 1.5rem;
 }
 .bx{
     justify-content: center;
     align-items: center;
     width: 65%;
 }
 .bx p{
     font-size: .9rem;
     font-weight: bolder;
 }

 .contact::before{
     background: none;
 }
 .contact input, .contact textarea{
    width: 100%;
    display: block;
    height: 20px;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 10px;
    text-align: center;
    border: 2px solid rgb(225, 17, 17);
}
footer p{
    font-size: .6rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}
